[Desktop Entry]
Version = 1.0
Name = Mullvad
GenericName = Virtual Private Network (VPN) client
GenericName[en] = Virtual Private Network (VPN) client
GenericName[sv] = Klient för Virtuella Privata Nätverk (VPN)
Comment = Anonymous network layer, secure from eavesdropping, using Mullvad service
Comment[en] = Anonymous network layer, secure from eavesdropping, using Mullvad service
Comment[sv] = Anonymt nätverkslager, säkrat från avlyssning, genom att använda Mullvad-tjänsten
Icon = mullvad
Exec = mullvad
Terminal = false
Type = Application
Categories = Network;
Keywords = privacy;secret;censorship;geoblocking;
Keywords[en] = privacy;secret;censorship;geoblocking;
Keywords[sv] = privatliv;hemlig;censur;geoblockering;
